@model Teklif2Model
@{
    ViewBag.Title = "Ekle";
    Html.AktifMenuÖğesiSistemAdıBelirle("TeklifEkle");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Teklif Ekle
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Teklif listesine geri dön", "TeklifListe")</small>
        </h1>
        <div class="pull-right">
            <button class="btn bg-blue" type="submit" name="kaydet">
                <i class="fa fa-floppy-o"></i>
                Kaydet
            </button>
            <button class="btn bg-blue" type="submit" name="kaydet-devam">
                <i class="fa fa-floppy-o"></i>
                Kaydet ve Devam Et
            </button>
        </div>
    </div>
    @Html.Partial("_EkleVeyaDüzenleTeklif", Model)
}