@model CrmFirmaGorusmeGorusmeModel
@{
    ViewBag.Title = "Düzenle";
    Html.AktifMenuÖğesiSistemAdıBelirle("CrmFirmaGorusmeDüzenle");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Görüşme düzenle
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Firma sayfasına geri dön", "FirmaDüzenle", new { id = Model.FirmaId})</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="kaydet" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Kaydet
            </button>
            <button type="submit" name="kaydet-devam" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Kaydet ve Devam
            </button>
            <span id="banka-sil" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                Sil
            </span>
        </div>
    </div>
    @Html.Partial("_EkleVeyaDüzenleFirmaGorusmeler", Model)
}

