@model OdemeFormuModel
@{
    ViewBag.Title = "Düzenle";
    Html.AktifMenuÖğesiSistemAdıBelirle("Odeme Formu");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Ödeme formu düzenle - @Model.Firma
        </h1>
        <div class="pull-right">
            <button type="submit" name="kaydet" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Kaydet
            </button>
            <button type="submit" name="kaydet-devam" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Kaydet ve Devam
            </button>
            <span id="rapor-sil" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                Sil
            </span>
        </div>
    </div>
    @Html.Partial("_EkleVeyaDüzenleOdemeFormu", Model)
}
@Html.DeleteConfirmation("OdemeFormuSil", "rapor-sil")

