@model TeklifModel

@{
    var varsayılanGridSayfaBüyüklüğü = EngineContext.Current.Resolve<Core.Domain.Genel.AdminAyarları>().VarsayılanGridSayfaBüyüklüğü;
    var gridSayfaBüyüklüğü = EngineContext.Current.Resolve<Core.Domain.Genel.AdminAyarları>().GridSayfaBüyüklükleri;
    ViewBag.Title = "Teklif";
    Html.AktifMenuÖğesiSistemAdıBelirle("Teklif");
}

@Html.AntiForgeryToken()
<div class="content-header clearfix">
    <h1 class="pull-left">
        Teklif
    </h1>
    <div class="pull-right">
        <a href="TeklifEkle" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Yeni
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="teklif-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#teklif-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("TeklifListe", "Teklif"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Toplam"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        this.cancelChanges();
                                    },
                                    pageSize: @(varsayılanGridSayfaBüyüklüğü),
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridSayfaBüyüklüğü)],
                                    @Html.Partial("_GridMesajları")
                                },
                                editable: {
                                    confirmation: "Bu öğeyi silmek istediğinizden emin misiniz?",
                                    mode: "inline"
                                },

                                scrollable: false,
                                columns: [
                                    {
                                        field: "Adı",
                                        title: "Adı"
                                    }, {
                                        field: "Kod",
                                        title: "Kodu"
                                    }, {
                                        field: "Hazırlayan",
                                        title: "Hazırlayan"
                                    }, {
                                        field: "Konum",
                                        title: "Konum"
                                    }, {
                                        field: "Aciklama",
                                        title: "Aciklama"
                                    }, {
                                        field: "OluşturulmaTarihi",
                                        title: "Oluşturulma Tarihi",
                                        width: 200,
                                        type: "date",
                                        format: "{0:G}"
                                    }, {
                                        field: "Durumu",
                                        title: "Durumu",
                                        template: '<span class="grid-report-item ' +
                                        '# if(Durumu == "Hazırlık") {# yellow #} #' +
                                        '# if(Durumu == "Konfirme") {# bg-purple #} #' +
                                        '# if(Durumu == "Operasyon") {# blue #} #' +
                                        '# if(Durumu == "Tamamlandı") {# green #} #' +
                                        '# if(Durumu == "İptal") {# red #} #' +
                                        '">#=Durumu#</span>',
                                        width: 100
                                    },
                                    {
                                        field: "Id",
                                        title: "Düzenle",
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-default" href="TeklifDüzenle/#=Id#"><i class="fa fa-pencil"></i>Düzenle</a>'
                                    }

                                ]
                            });
                        });
                    </script>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#teklif-ara').click(function () {
                                var grid = $('#teklif-grid').data('kendoGrid');
                                grid.dataSource.read();
                                return false;
                            });
                        });

                        function additionalData() {
                            var data = {
                                SearchStoreId: $('#SiteIdAra').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>