@model KongreGelirGiderHedefModel
@{
    ViewBag.Title = "Düzenle";
    Html.AktifMenuÖğesiSistemAdıBelirle("HedefleriDüzenle");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Gelir/Gider hedefi düzenle - @Model.GelirGiderHedefiModel.Adı
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Kongre sayfasına geri dön", "KongreDüzenle", new { id = Model.KongreId })</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="kaydet" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Kaydet
            </button>
            <button type="submit" name="kaydet-devam" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Kaydet ve Devam
            </button>
            <span id="hedef-sil" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                Sil
            </span>
        </div>
    </div>
    @Html.Partial("_EkleVeyaDüzenleHedef", Model)
}

