@model KullanıcıRolModel
@{
    ViewBag.Title = "Kullanıcı rol düzenle";
    Html.AktifMenuÖğesiSistemAdıBelirle("Kullanıcı Rol Listesi");

}
@using (Html.BeginForm())
{
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Kullanıcı rolü düzenle - @Model.Adı
        </h1>
        <div class="pull-right">
            <button type="submit" name="kaydet" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Kaydet
            </button>
            <button type="submit" name="kaydet-devam" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Kaydet ve Devam
            </button>
            <span id="kullanıcırolü-sil" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                Sil
            </span>
        </div>
    </div>
    @Html.Partial("_EkleVeyaDüzenle",Model)
}
@Html.DeleteConfirmation("kullanıcırolü-sil")
