@model KullanıcıRolModel

@{
    ViewBag.Title = "Yeni kullanıcı rolü ekle";
    Html.AktifMenuÖğesiSistemAdıBelirle("Kullanıcılar rolleri");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Yeni kullanıcı rolü ekle 
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Kullanıcı rolleri listesine geri dön", "Liste")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="kaydet" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Kaydet
            </button>
            <button type="submit" name="kaydet-devam" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Kaydet ve Devam Et
            </button>
        </div>
    </div>
    @Html.Partial("_EkleVeyaDüzenle", Model)
}