<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="Core.Olaylar" />
        <add namespace="Core.Altyapı" />
        <add namespace="Core.Domain.Kullanıcılar" />
        <add namespace="Services.Olaylar" />
        <add namespace="Services" />
        <add namespace="Web.Models.EkTanımlamalar" />
        <add namespace="Web.Models.Tanımlamalar" />
        <add namespace="Web.Models.Teklif" />
        <add namespace="Web.Models.Görüşmeler" />
        <add namespace="Web.Models.Finans" />
        <add namespace="Web.Models.Kullanıcılar" />
        <add namespace="Web.Models.Kongre" />
        <add namespace="Web.Models.KongreTanımlamaları" />
        <add namespace="Web.Models.Güvenlik" />
        <add namespace="Web.Models.Ayarlar" />
        <add namespace="Web.Models.Notlar" />
        <add namespace="Web.Models.Home" />
        <add namespace="Web.Models.Test" />
        <add namespace="Web.Models.Xls" />
        <add namespace="Web.Models.Rehber" />
        <add namespace="Web.Models.Crm" />
        <add namespace="Web" />
        <add namespace="Web.Uzantılar" />
        <add namespace="Web.Framework" />
        <add namespace="Web.Framework.Olaylar" />
        <add namespace="Web.Framework.Güvenlik.Captcha" />
        <add namespace="Web.Framework.UI" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="true" />
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>
