@model GorusmeRaporlariModel

@{
    var varsayılanGridSayfaBüyüklüğü = EngineContext.Current.Resolve<Core.Domain.Genel.AdminAyarları>().VarsayılanGridSayfaBüyüklüğü;
    var gridSayfaBüyüklüğü = EngineContext.Current.Resolve<Core.Domain.Genel.AdminAyarları>().GridSayfaBüyüklükleri;
    ViewBag.Title = "GorusmeRaporlari";
    Html.AktifMenuÖğesiSistemAdıBelirle("GorusmeRaporlari");
}

@Html.AntiForgeryToken()
<div class="content-header clearfix">
    <h1 class="pull-left">
        Görüşme raporları
    </h1>
    <div class="pull-right">
        <a href="GorusmeRaporlariEkle" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Yeni
        </a>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="rapor-grid"></div>
                    <div id="grid"></div>
                    <script>
                        $(document).ready(function () {
                            $("#rapor-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("GorusmeRaporlariListe", "Gorusmeler"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Toplam"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        this.cancelChanges();
                                    },
                                    pageSize: @(varsayılanGridSayfaBüyüklüğü),
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridSayfaBüyüklüğü)],
                                    @Html.Partial("_GridMesajları")
                                },
                                editable: {
                                    confirmation: "Bu öğeyi silmek istediğinizden emin misiniz?",
                                    mode: "inline"
                                },
                                scrollable: true,
                                columns: [
                                    {
                                        field: "Konu",
                                        title: "Konu",
                                        width: 260
                                    }, {
                                        field: "FirmaAdı",
                                        title: "FirmaAdı",
                                        width: 180
                                    }, {
                                        field: "GorusulenAdı",
                                        title: "Gorusulen",
                                        width: 180
                                    }, {
                                        field: "Tarih",
                                        title: "Görüşme Tarihi",
                                        attributes: { style: "text-align:center" },
                                        template: '#= kendo.toString(kendo.parseDate(Tarih), "MM/dd/yyyy")#',
                                        width:120
                                    },
                                    {
                                        field: "Id",
                                        title: "Düzenle",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-default" href="GorusmeRaporlariDüzenle/#=Id#"><i class="fa fa-pencil"></i>Düzenle</a>',
                                        width: 120
                                    }
                                ]
                            });
                        });
                    </script>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#rapor-ara').click(function () {
                                var grid = $('#musteri-grid').data('kendoGrid');
                                grid.dataSource.read();
                                return false;
                            });
                        });

                        function additionalData() {
                            var data = {
                                SearchStoreId: $('#SiteIdAra').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>