@{
    Layout = "~/Views/Shared/ColumnsOne.cshtml";

    //page class
    Html.CssParçasıIlaveEt("html-home-page");
}
@Html.AntiForgeryToken()
<div class="content-header">
    <h1>
        Anasayfa
    </h1>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    @Html.Action("GenelIstatistikler", "Home")
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    @Html.Action("TeklifTakvimi", "Home")
                </div>
            </div>
        </div>
    </div>
</div>

