<?xml version="1.0" encoding="utf-8" ?>
<siteharitası>
  <siteHaritasıNode SistemAdı="Home" Kaynak="Home" controller="Home" action="Overview" >
    <siteHaritasıNode SistemAdı="Anasayfa" Kaynak="Anasayfa" controller="Home" action="Index" iconClass="fa-Desktop" />
    <siteHaritasıNode SistemAdı="Rehber" Kaynak="Rehber" controller="Rehber" action="RehberListe" IconClass="fa-calendar" />
    <siteHaritasıNode SistemAdı="Görüşmeler" Kaynak="Görüşmeler" IconClass="fa-tasks" >
      <siteHaritasıNode SistemAdı="Görüşme Raporları" Kaynak="Görüşme Raporları" controller="Gorusmeler" action="GorusmeRaporlariListe" IconClass="fa-genderless"/>
      <siteHaritasıNode SistemAdı="Pazarlama Anketi" Kaynak="Pazarlama Anketi" controller="Gorusmeler" action="PazarlamaAnketi" IconClass="fa-genderless"/>
    </siteHaritasıNode>
    <siteHaritasıNode SistemAdı="Teklifler" Kaynak="Teklifler"  IconClass="fa-comments" >
      <!--<siteHaritasıNode SistemAdı="Yeni Teklif" Kaynak="Yeni Teklif" controller="Teklif" action="TeklifEkle" IconClass="fa-genderless"/>-->
      <siteHaritasıNode SistemAdı="Teklifler" Kaynak="Teklifler" controller="Teklif" action="TeklifListe" IconClass="fa-genderless"/>
      <siteHaritasıNode SistemAdı="Harici Teklifler" Kaynak="Harici Teklifler" controller="Teklif" action="TeklifHariciListe" IconClass="fa-genderless"/>
    </siteHaritasıNode>
    <siteHaritasıNode SistemAdı="Kongre" Kaynak="Kongreler"  IconClass="fa-comments" >
      <siteHaritasıNode SistemAdı="Kongreler" Kaynak="Kongreler" controller="Kongre" action="KongreListe" IconClass="fa-genderless"/>
    </siteHaritasıNode>
    <siteHaritasıNode SistemAdı="CRM" Kaynak="Crm"  IconClass="fa-comments" >
      <siteHaritasıNode SistemAdı="Anasayfa" Kaynak="Anasayfa" controller="Crm" action="Anasayfa" IconClass="fa-genderless"/>
      <siteHaritasıNode SistemAdı="Kişiler" Kaynak="Kişiler" controller="Crm" action="KişiListe" IconClass="fa-genderless"/>
      <siteHaritasıNode SistemAdı="Kurumlar" Kaynak="Kurumlar" controller="Crm" action="KurumListe" IconClass="fa-genderless"/>
      <siteHaritasıNode SistemAdı="Firma Yetkilileri" Kaynak="Firma Yetkilileri" controller="Crm" action="FirmaYetkilisiListe" IconClass="fa-genderless"/>
      <siteHaritasıNode SistemAdı="Firmalar" Kaynak="Firmalar" controller="Crm" action="FirmaListe" IconClass="fa-genderless"/>
      <siteHaritasıNode SistemAdı="Rapor" Kaynak="Rapor" controller="Crm" action="Rapor" IconClass="fa-genderless"/>
    </siteHaritasıNode>
    <siteHaritasıNode SistemAdı="Finans" Kaynak="Finans"  IconClass="fa-file" >
      <siteHaritasıNode SistemAdı="Ödeme Formu" Kaynak="Ödeme Formu" controller="Finans" action="Liste" IconClass="fa-genderless"/>
    </siteHaritasıNode>
    <siteHaritasıNode SistemAdı="Kullanıcılar" Kaynak="Kullanıcılar"  IconClass="fa-user" >
      <siteHaritasıNode SistemAdı="Kullanıcı listesi" Kaynak="Kullanıcılar" controller="Kullanıcı" action="Liste" IconClass="fa-dot-circle-o" />
      <siteHaritasıNode SistemAdı="Kullanıcı rolleri" Kaynak="Kullanıcı rolleri" controller="KullanıcıRolleri" action="Liste" IconClass="fa-dot-circle-o" />
      <siteHaritasıNode SistemAdı="Online kullanıcılar" Kaynak="Online kullanıcılar" controller="OnlineKullanıcı" action="Liste" IconClass="fa-dot-circle-o" />
      <siteHaritasıNode SistemAdı="Erişim kontrol listesi" Kaynak="Erişim kontrol listesi" controller="Güvenlik" action="Izinler" IconClass="fa-dot-circle-o" />
      <siteHaritasıNode SistemAdı="İşlem geçmişi" Kaynak="İşlem geçmişi" IconClass="fa-dot-circle-o">
        <siteHaritasıNode SistemAdı="İşlem geçmişi listesi" Kaynak="İşlem geçmişi listesi" controller="ActivityLog" action="ListLogs" IconClass="fa-genderless"/>
        <siteHaritasıNode SistemAdı="İşlem tipi" Kaynak="İşlem tipi" controller="ActivityLog" action="ListTypes" IconClass="fa-genderless"/>
      </siteHaritasıNode>
    </siteHaritasıNode>
    <siteHaritasıNode SistemAdı="Tanımlamalar" Kaynak="Tanımlamalar"  IconClass="fa-list-alt" >
        <siteHaritasıNode SistemAdı="Firmalar" Kaynak="Firmalar" controller="Tanımlamalar" action="FirmaListe" IconClass="fa-genderless"/>
        <siteHaritasıNode SistemAdı="Hekimler" Kaynak="Hekimler" controller="Tanımlamalar" action="HekimListe" IconClass="fa-genderless"/>
    <siteHaritasıNode SistemAdı="Ek Tanımlamalar" Kaynak="Ek Tanımlamalar"  IconClass="fa-tags" >
        <siteHaritasıNode SistemAdı="Bankalar" Kaynak="Bankalar" controller="EkTanımlamalar" action="BankaListe" IconClass="fa-genderless"/>
        <siteHaritasıNode SistemAdı="Firma Sektörleri" Kaynak="Firma Sektörleri" controller="EkTanımlamalar" action="MusteriListe" IconClass="fa-genderless"/>
        <siteHaritasıNode SistemAdı="Harici Sektörler" Kaynak="Harici Sektörler" controller="EkTanımlamalar" action="HariciListe" IconClass="fa-genderless"/>
        <siteHaritasıNode SistemAdı="Teklif Kalemleri" Kaynak="Teklif Kalemleri" controller="EkTanımlamalar" action="TeklifKalemiListe" IconClass="fa-genderless"/>
        <siteHaritasıNode SistemAdı="Ünvanlar" Kaynak="Ünvanlar" controller="EkTanımlamalar" action="UnvanListe" IconClass="fa-genderless"/>
        <siteHaritasıNode SistemAdı="Gelir Gider Kalemleri" Kaynak="Gelir Gider Kalemleri" controller="EkTanımlamalar" action="GelirGiderListe" IconClass="fa-genderless"/>
        <siteHaritasıNode SistemAdı="Hekim Branşları" Kaynak="Hekim Branşları" controller="EkTanımlamalar" action="BransListe" IconClass="fa-genderless"/>
        <siteHaritasıNode SistemAdı="Kayıt Tipi" Kaynak="Kayıt Tipi" controller="EkTanımlamalar" action="KayıtTipiListe" IconClass="fa-genderless"/>
      </siteHaritasıNode>
      </siteHaritasıNode>
    <siteHaritasıNode SistemAdı="Yapılandırma" Kaynak="Yapılandırma" IconClass="fa-gears">
      <siteHaritasıNode SistemAdı="Ayarlar" Kaynak="Ayarlar" İzinAdları="AyarlarıYönet" IconClass="fa-dot-circle-o" >
        <siteHaritasıNode SistemAdı="Genel ayarlar" Kaynak="Genel ayarlar" controller="Ayarlar" action="GenelAyarlar" IconClass="fa-genderless"/>
        <siteHaritasıNode SistemAdı="Kullanıcı ayarları" Kaynak="Kullanıcı ayarları" controller="Ayarlar" action="Kullanıcı" IconClass="fa-genderless"/>
        <siteHaritasıNode SistemAdı="Katalog ayarları" Kaynak="Katalog ayarları" controller="Ayarlar" action="Catalog" IconClass="fa-genderless"/>
        <siteHaritasıNode SistemAdı="Ödül puanları" Kaynak="Ödül puanları" controller="Ayarlar" action="RewardPoints" IconClass="fa-genderless"/>
        <siteHaritasıNode SistemAdı="Medya ayarları" Kaynak="Medya ayarları" controller="GenelAyarlar" action="Medya" IconClass="fa-genderless"/>
        <siteHaritasıNode SistemAdı="Tüm ayarlar" Kaynak="Tüm ayarlar" controller="Ayarlar" action="AllSettings" IconClass="fa-genderless"/>
      </siteHaritasıNode>
      <siteHaritasıNode SistemAdı="Siteler" Kaynak="Siteler" İzinAdları="SiteleriYönet" controller="Siteler" action="Liste" IconClass="fa-dot-circle-o"/>
      <siteHaritasıNode SistemAdı="Ülkeler" Kaynak="Ülkeler" İzinAdları="ÜlkeleriYönet" controller="Country" action="List" IconClass="fa-dot-circle-o"/>
      <siteHaritasıNode SistemAdı="Döviz" Kaynak="Döviz" İzinAdları="DövizYönet" controller="Currency" action="List" IconClass="fa-dot-circle-o"/>
      <siteHaritasıNode SistemAdı="Ödeme" Kaynak="Ödeme" İzinAdları="ÖdemeMetodlarıYönet" IconClass="fa-dot-circle-o">
        <siteHaritasıNode SistemAdı="Ödeme metodu" Kaynak="Ödeme metodu" İzinAdları="ÖdemeMetodlarıYönet" controller="Payment" action="Methods" IconClass="fa-genderless"/>
        <siteHaritasıNode SistemAdı="Ödeme metodu kısıtlamaları" Kaynak="Ödeme metodu kısıtlamaları" İzinAdları="ÖdemeMetodlarıYönet" controller="Payment" action="MethodRestrictions" IconClass="fa-genderless"/>
      </siteHaritasıNode>
      
      <siteHaritasıNode SistemAdı="Araçlar" Kaynak="Araçlar" İzinAdları="AraçlarıYönet" controller="Widget" action="List"  IconClass="fa-dot-circle-o"/>
      <siteHaritasıNode SistemAdı="Harici giriş yöntemleri" Kaynak="Harici giriş yöntemleri" İzinAdları="HariciGirişMetodlarınıYönet" controller="ExternalAuthentication" action="Methods" IconClass="fa-dot-circle-o"/>
      <siteHaritasıNode SistemAdı="Eklentiler" Kaynak="Eklentiler" İzinAdları="EklentileriYönet" controller="Plugin" action="List" IconClass="fa-dot-circle-o" />
    </siteHaritasıNode>
    <siteHaritasıNode SistemAdı="Sistem" Kaynak="Sistem" İzinAdları="SistemLogYönet,SıralanmışMesajlarıYönet,BakımYönet,ZamanlananGörevleriniYönetin" IconClass="fa-cube">
      <siteHaritasıNode SistemAdı="Sistem bilgisi" Kaynak="Sistem bilgisi" İzinAdları="BakımYönet" controller="Common" action="SystemInfo"  IconClass="fa-dot-circle-o"/>
      <siteHaritasıNode SistemAdı="Log" Kaynak="Log" İzinAdları="SistemLogYönet" controller="Log" action="List"  IconClass="fa-dot-circle-o"/>
      <siteHaritasıNode SistemAdı="Uyarılar" Kaynak="Uyarılar" İzinAdları="BakımYönet" controller="Common" action="Warnings"  IconClass="fa-dot-circle-o"/>
      <siteHaritasıNode SistemAdı="Bakım" Kaynak="Bakım" İzinAdları="BakımYönet" controller="Common" action="Maintenance"  IconClass="fa-dot-circle-o"/>
      <siteHaritasıNode SistemAdı="Sıralanmış mesajlar" Kaynak="Sıralanmış mesajlar" İzinAdları="SıralanmışMesajlarıYönet" controller="QueuedEmail" action="List"  IconClass="fa-dot-circle-o"/>
      <siteHaritasıNode SistemAdı="Görev zamanla" Kaynak="Görev zamanla" İzinAdları="ZamanlananGörevleriniYönetin" controller="ScheduleTask" action="List"  IconClass="fa-dot-circle-o"/>
      <siteHaritasıNode SistemAdı="Arama motoru dostu isimler" Kaynak="Arama motoru dostu isimler" İzinAdları="BakımYönet" controller="Common" action="SeNames"  IconClass="fa-dot-circle-o"/>
      <siteHaritasıNode SistemAdı="Temalar" Kaynak="Temalar" İzinAdları="BakımYönet" IconClass="fa-dot-circle-o">
        <siteHaritasıNode SistemAdı="Kategori temaları" Kaynak="Kategori temaları" controller="Template" action="CategoryTemplates" IconClass="fa-genderless"/>
        <siteHaritasıNode SistemAdı="Sayfa temaları" Kaynak="Sayfa temaları" controller="Template" action="TopicTemplates" IconClass="fa-genderless"/>
      </siteHaritasıNode>
    </siteHaritasıNode>
  </siteHaritasıNode>
</siteharitası>